<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-0.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ customer?.name }}
          </h5>
          <h6>Customer</h6>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Address</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          (click)="updateCustomer(1)"
        />
        <input
          type="submit"
          class="profile-edit-btn password-btn"
          name="btnAddMore"
          [routerLink]="['/change-password']"
          value="Change password"
        />
        <button class="profile-edit-btn delete" (click)="removeCustomer(1)">
          Detete account
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer?.userId }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer?.name }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer?.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer?.contactNo }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Of Birth</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer?.dob }}</p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Zip-Code</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].pincode }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Door No.</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].doorNo }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Street</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].street }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Area</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].area }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>City</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].city }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>State</label>
              </div>
              <div class="col-md-6">
                <p>{{ customer.address[0].state }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
