<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome Admin</a>
    </div>
  </nav>

<div class="cards-div">

<div class="card card-div">
    <div class="card-header">
      Service
    </div>
    <div class="card-body">
      <h5 class="card-title">Customer Services</h5>
      <p class="card-text">View all customers and apply some filters</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/customer-admin-operations']">click here</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Service
    </div>
    <div class="card-body">
      <h5 class="card-title">Appointment Services</h5>
      <p class="card-text">View all appointments and apply some filters</p>

      <a href="#" class="btn btn-primary" [routerLink]="['appointments']">click here</a>

      <a href="#" class="btn btn-primary">click here</a>
    </div>
    </div>

    <div class="card">
        <div class="card-header">
          Service
        </div>
        <div class="card-body">
          <h5 class="card-title">Car Services</h5>
          <p class="card-text">View all Cars and apply some filters</p>
          <a href="#" class="btn btn-primary">click here</a>
        </div>
        </div>

        <div class="card">
            <div class="card-header">
              Service
            </div>
            <div class="card-body">
              <h5 class="card-title">Order Services</h5>
              <p class="card-text">View all Orders and apply some filters</p>
              <a href="#" class="btn btn-primary">click here</a>
            </div>
            </div>


            <div class="card">
                <div class="card-header">
                  Service
                </div>
                <div class="card-body">
                  <h5 class="card-title">Payment Services</h5>
                  <p class="card-text">View all payments and apply some filters</p>
                  <a href="#" class="btn btn-primary">click here</a>
                </div>
                </div>


</div>

<app-footer></app-footer>