<div class="container-fluid">
  <div id="formContent">
    <!-- Sign in Form -->

    <form [formGroup]="signInForm" (ngSubmit)="signIn()" autocomplete="off">
      <table col>
        <tr>
          <th colspan="2" align="center">Sign In Form</th>
        </tr>
        <br />
        <!-- printing error message -->
        <tr *ngIf="message" style="color: red">
          <td colspan="2" align="center">{{ message }}</td>
        </tr>
        <br />
        <!-- changing styles when having error -->
        <!-- User Id -->
        <tr [ngClass]="{ error: userId.invalid && userId.touched }">
          <td><label>User Id</label></td>
          <td>
            <input type="number" formControlName="userId" />
          </td>
        </tr>
        <!-- error messages -->
        <tr>
          <td class="error" colspan="2">
            <div *ngIf="userId.invalid && userId.touched">
              <small class="text-danger" *ngIf="userId.errors?.required"
                >userId is Required!</small
              >
            </div>
          </td>
        </tr> <!-- role -->
        <tr [ngClass]="{ error: role.invalid && role.touched }">
          <td><label>Role</label></td>
          <td>
            <select id="role" formControlName="role">
              <option value="customer">Customer</option>
              <option value="Admin">Admin</option>
            </select>
          </td>
        </tr>
         <!--error-->
        <tr>
          <td class="error" colspan="2">
            <div *ngIf="role.invalid && role.touched">
              <small class="text-danger" *ngIf="role.errors?.required"
                >role is Required!</small
              >
            </div>
          </td>
        </tr>
        <!-- Passsword -->
        <tr [ngClass]="{ error: password.invalid && password.touched }">
          <td><label>Password</label></td>
          <td>
            <input formControlName="password" id="password" type="password" />
          </td>
        </tr>
        <tr>
          <td class="error" colspan="2">
            <div *ngIf="password.invalid && password.touched">
              <small class="text-danger" *ngIf="password.errors?.required"
                >password is Required!</small
              >
              <small class="text-danger" *ngIf="password.errors?.minlength"
                >password should be min 5 chars !</small
              >
              <small class="text-danger" *ngIf="password.errors?.pattern">
                alphabets digits and '@' '$' are allowed</small
              >
            </div>
          </td>
        </tr>
      </table>
      <!-- Submit button -->
      <br />
      <div class="buttons">
        <button
          class="button"
          [class.yes]="signInForm.valid"
          type="submit"
          [disabled]="!signInForm.valid"
        >
          <span>login</span>
        </button>
        <!-- cancel button -->
        <button class="button yes" (click)="cancel()">
          <span>cancel</span>
        </button>
      </div>
    </form>
  </div>
</div>
