<h2 style="text-align: center;">Appointment Details</h2>
<div class="row justify-content-center">
<div class="col-auto">
    <table class="table table-bordered">
                <tr>
                    <th>City</th>
                    <th>Inspection Location</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                </tr>
            <tr>
                <td>{{appointmentsModel.location}}</td>
                <td>{{appointmentsModel.inspectionType}}</td>
                <td>{{appointmentsModel.preferredDate}}</td>
                <td>{{appointmentsModel.preferredTime}}</td>
            </tr>
</table>
</div>
</div>>
