<div class="footer-main">
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a>24 x 7 Support</a></li>
                        <li><a>Genuine Products</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a>+0712-2734527564</a></li>
                        <li><a>carsale123@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>CARSALE</h3>
                    <p>CarSale is the most trusted way of buying and selling used cars.Get a no questions asked 5 day money back guarantee and a free one-year comprehensive service warranty with Assured Resale Value on every CarSale Assured® car.</p>
                </div>  
            </div>
            <p class="copyright">Copyright © 2021 Valuedrive Technologies Private Limited.
                All rights reserved.</p>
        </div>
    </footer>
</div>
</div>