label[title]:hover::after {
    content: attr(title);
    top: -100px;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.note {
    color: gray;
}

#footerimg {
    width: 10%;
    height: 25%;
    margin-left: 10px;
}

footer{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 10%;
    margin-bottom: 0%;
}