
<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome Customer</a>
  </div>
</nav>
<div class="profile-div">
<div class="card">
  <h5 class="card-header">Profile</h5>
  <div class="card-body">
    <h5 class="card-title">My Account</h5>
    <p class="card-text">View/Update your Account</p>
    <button (click)="viewProfile()" class="btn btn-primary" > click here</button>
  </div>
</div>
</div>

<div class="cards-div">


  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Appointments</h5>
          <p class="card-text">Add/Update/Cancel your Appointments</p>
          <a href="#" class="btn btn-primary">click here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">Add/Update your car details.</p>
          <a href="#" class="btn btn-primary">click here</a>
        </div>
      </div>
    </div>
  </div>

<br/><br/>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
          <p class="card-text">Place your order here.</p>
          <a href="#" class="btn btn-primary"> click here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment</h5>
          <p class="card-text">make your payment here</p>
          <a href="#" class="btn btn-primary">click here</a>
        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>