
<div class="card mb-3 success">
    <img src="../../assets/PikPng.com_happy-png_498076.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Registration Succesfull!</h5>
      <p class="card-text">Welcome to the <b>CARSALE </b> family. Your Registration was Succesfull. Note the <b>user-id : {{id}} </b>for login.  </p>
      <p class="card-text"><small class="text-muted">Last updated Just Now</small></p>
    </div>

    <button type="button" class="btn btn-primary " [routerLink]="['/']" >Proceed to login</button>
    <br/>  
  </div>
<br/> <br/> <br/>  

<app-footer></app-footer>



