<video class="video-section" autoplay loop muted >
  <source src="../assets/video.mp4" type="video/mp4">
</video>
    <div class="content">
        <div class="typewriter"></div>
        <h1 class="typewriter-text">Accelerating the future of Car Dealership.</h1><br/><br/>
        <div class="sign-up-in">
        <button type="button" class="btn btn-primary btn-lg " [routerLink]="['/sign-up']">Sign up</button>
      <button type="button" class="btn btn-secondary btn-lg " [routerLink]="['/sign-in']">Sign in</button>
      </div>
      </div>
